<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

<div class="container mt-2">
  <h2>Book Management</h2>
  <p>Manage your library's book collection</p>

  <div class="group1">
  <div class="d-flex justify-content-between mb-3">
    <input class="onCategoryChange" type="text" class="form-control w-50 me-2" placeholder="Search books..." [(ngModel)]="searchTerm"
      (input)="onSearchChange()" />

    <select class="form-select w-25" [(ngModel)]="selectedCategory" (change)="onCategoryChange()">
      <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
    </select>

    <!-- Add Book Button -->
    <div class="col-md-2">
      <a class="btn btn-outline-primary w-100" (click)="openAddModal(); scrollToTop()">
        <i class="bi bi-plus"></i> Add Book
      </a>
    </div>

    <!-- Add Book Modal -->
    <div class="modal" *ngIf="isAddModalOpen">
      <div class="modal-content">
        <span class="close" (click)="closeAddModal()">&times;</span>

        <div class="add-form">
          <h4>Add New Book</h4>
          <form (ngSubmit)="submitForm()" #bookForm="ngForm">
            <div class="form-group">
              <label for="title">Title</label>
              <input type="text" class="form-control" id="title" [(ngModel)]="newBook.title" name="title" required />
            </div>

            <div class="form-group">
              <label for="author">Author</label>
              <input type="text" class="form-control" id="author" [(ngModel)]="newBook.author" name="author" required />
            </div>

            <div class="form-group">
              <label for="category">Category</label>
              <select class="form-control" id="category" [(ngModel)]="newBook.category" name="category" required>
                <option value="" disabled selected>Select a category</option>
                <option value="Fiction">Fiction</option>
                <option value="Non-fiction">Non-fiction</option>
                <option value="Children">Children</option>
                <option value="Academic">Academic</option>
              </select>
            </div>

            <div class="form-group">
              <label for="isbn">ISBN</label>
              <input type="text" class="form-control" id="isbn" [(ngModel)]="newBook.isbn" name="isbn" required />
            </div>

            <div class="form-group">
              <label for="totalbooks">Total Books</label>
              <input type="number" class="form-control" id="totalbooks" [(ngModel)]="newBook.totalbooks"
                name="totalbooks" required />
            </div>

            <button type="submit" class="btn btn-outline-success mt-3 submit">
              Submit
            </button>
          </form>
        </div>
      </div>
    </div>


  </div>
</div>
  <table class="table table-hover">
    <thead class="table-light">
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Category</th>
        <th>ISBN</th>
        <th>Total Books</th>
        <th>Available</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of filteredBooks | paginate: { itemsPerPage: 8, currentPage: page }, let i = index">
        <td>{{ book.title }}</td>
        <td>{{ book.author }}</td>
        <td>
          <span class="badge badge-pill custom-badge" [ngClass]="{
            'badge-blue': book.category === 'Fiction',
            'badge-green': book.category === 'Non-Fiction',
            'badge-yellow': book.category === 'Academic',
            'badge-cyan': book.category === 'Children'
            }">
            {{ book.category }}
          </span>
        </td>
        <td>{{ book.isbn }}</td>
        <td>
          {{ book.totalbooks }}
        </td>
        <td>
          {{ book.available }}
        </td>
        <td>
          <button id="edit" class="icon me-2 btn btn-link p-0" (click)="openEditModal(book.id -1)">
            <span class="fas fa-edit me-2"></span>
          </button>
          <button class="icon btn btn-link p-0" (click)="deleteBook(book.id)">
            <span class="bi bi-trash-fill"></span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="ngx-pagination">
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
  </div>
</div>
<!-- Edit Model -->

<div class="modal" *ngIf="isEditModalOpen">
  <div class="modal-content">
    <span class="close" (click)="closeEditModal()">&times;</span>

    <div *ngIf="editedBook.title != null && editedBook.title !== ''; else noAccess" class="edit-form">
      <h4>Edit Book</h4>
      <form (ngSubmit)="updateBook()" #editForm="ngForm">
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" class="form-control" id="title" [(ngModel)]="editedBook.title" name="title" required />
        </div>

        <div class="form-group">
          <label for="author">Author</label>
          <input type="text" class="form-control" id="author" [(ngModel)]="editedBook.author" name="author" required />
        </div>

        <div class="form-group">
          <label for="category">Category</label>
            <select class="form-select" [(ngModel)]="editedBook.category" name="category" required>
            <option value="Fiction">Fiction</option>
            <option value="Non-Fiction">Non-Fiction</option>
            <option value="Children">Children</option>
            <option value="Academic">Academic</option>
          </select>
        </div>

        <div class="form-group">
          <label for="isbn">ISBN</label>
          <input type="text" class="form-control" id="isbn" [(ngModel)]="editedBook.isbn" name="isbn" required />
        </div>
        <p class="pt-2">{{ message }}</p>
        <button type="submit" class="btn btn-outline-success mt-2 submit">
          Update
        </button>
      </form>
    </div>

    <ng-template #noAccess>
      <p>Cannot access this Edit Book...</p>
    </ng-template>
  </div>
</div>